*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://wallpapers.com/images/high/joker-playing-at-poker-table-l6xh96sbhn3q7s4j.webp);

}

.container{
padding: 20px;
background-color: #FFFFFF;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: none;
}

button{
    padding: 10px 20px;
    font-size: 50px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}
.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;}
#Pedra{
    background-color: #a200ff;
}

#Papel{
    background-color: #00ff04;
    
}

#Tesoura{
    background-color: #7dbeed;
}

button:hover{
    opacity: 0.5;
}

p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.your-score span{
    color: rgb(0, 0, 212);
}

.machine-score span{
    color: rgb(243, 0, 0);
}

.Reset {
    background-color: #d1009d;
}