*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background: black;
}
img {
    width: 400px;
    height: 400px;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.sortear{
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF;

   
}

.entre {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF;

}

button {
    width: 342px;
    height: 80px;
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5px;
    color: #FFFFFF;
    margin-top: 80px;
    border-radius: 20px;
    border: none;
    background: blue;
    cursor: pointer;
  
}

input{
    height: 74px;
    width: 342px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
    background: rgb(36, 35, 35);
}
button:hover {
    opacity: 0.8;
}

p {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 10px;
    padding-left: 40px;
}

@media screen and (max-width: 480px) {
  main {
    gap: 25px;
  }

  img {
    width: 200px;
    height: 200px;
  }
.sortear,
.entre {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  input {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }

  button {
    width: 250px;
    height: 55px;
    font-size: 20px;
    margin-top: 30px;
  }
}