*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;

}

body {
    background-color: rgb(66, 172, 233);

}
.logo{
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;
    
}

main{
    width: 375px;
    border-radius: 20px;
    background-color: #F4F4F4;
    margin: 0 auto;
    padding: 44px 24px 23px;
    margin: 0 auto 40px;

}

label{
    color: #777777;
    font-size: 14px;
    font-weight: 400;


}
select, input{
    background: #FFFFFF;
    border: 1px;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}
button{
    width: 100%;
    height: 48px;
    background-color: #428ACE;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

}
button:hover{
    opacity: 0.8;

}
button:hover{
    opacity: 0.6;
    
}
.arrow{
    margin: 15px 0;


}

section {
    border: 1px solid #428ACE;
    border-radius: 4px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 5px; 
    box-shadow:100% #555555;
}

.currency{
    color: #777777;
    font-size: 14px;

}
.currency-value, .currency-value-to-convert{
    font-weight: 700;
    font-size: 20px;
    color: #555555;
}

@media screen and (max-width: 480px) {
    main {
        width: 90%;
    }
}